/* Estilos gerais */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o container ocupe toda a altura da viewport */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: aqua;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7%;
  background-color: aqua;
  text-align: center;
}

.display-notes {
  margin: 6%;
}

.adicionarNota {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin-top: 10%;
}

.conteudo {
  height: 25%;
  width: 60%;
  font-size: large;
}

.link-decoration {
  text-decoration: none;
}

.individual-notes {
  border-bottom: solid;
  width: 15%;
  height: 25%;
  padding: 1%;
}

/* Estilos para o componente VerNota */
.verNota {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 10% 6%; /* Ajusta o espaçamento superior e lateral */
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.info h2 {
  margin: 0;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conteudo {
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
  overflow-wrap: break-word;
}

.input-ad {
  width: 50%; /* Defina a largura desejada para os inputs de AdNota */
}
.input-titulo {
  width: 25%; /* Defina a largura desejada para os inputs de AdNota */
  height: 3%;
}
.texto-vernota{
  font-size: large;
}



.adicionarNota {
  margin: auto; /* Centraliza o formulário horizontalmente */
  margin-top: 10%; /* Define a margem superior para posicionar entre o cabeçalho e o rodapé */
  width: 80%; /* Defina a largura do div em porcentagem */
  max-width: 500px; /* Define uma largura máxima para o div */
  display: flex;
  flex-direction: column;
}

.adicionarNota form {
  width: 100%; /* Garante que o formulário ocupe toda a largura do contêiner */
}

.adicionarNota label {
  margin-top: 10px;
}

.adicionarNota input,
.adicionarNota textarea {
  width: 100%; /* Defina a largura do input e textarea em 100% do div pai */
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Inclui padding e borda na largura total */
}

.adicionarNota button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.adicionarNota button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.link-decoration {
  text-decoration: none;
  color: #007bff;
  margin-bottom: 10px;
  display: block;
}

.adicionarNota input {
  width: 100%; /* Defina a largura desejada */
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px; /* Defina a altura desejada */
}

.adicionarNota textarea {
  width: 100%; /* Defina a largura desejada */
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 250px; /* Defina a altura desejada */
  resize: none; /* Impede que a textarea seja redimensionada pelo usuário */
}
